* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(245, 206, 123);
}

h1 {
    color: rgb(153, 89, 47);
    font-size: 70px;
    text-align: center;
}

.recipelinks {
    color: rgb(153, 89, 47);
    font-size: 24px;
    font-weight: 500;
}